.icons {
    font-size: large;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.icons div {
    text-align: center;
    margin: 30px;
}

.aLink {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
    color: white;
}

.aLink a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    margin: 10px;
}

.aLink a:hover {
    text-decoration: underline;
}
.aLink svg{
    font-size: 0.8rem;
}

.amazon {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 1rem;

}

.copyRight {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: rgb(127, 124, 124);
    font-size: 0.7rem;
}